@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white url('https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png');
}

.id {
  font-family: "Flexo-Bold",arial,sans-serif;
  color: #919191;
  font-size: 80%;
  padding-top: 2px;
}